## Rather than having to implement your own numerical recipes, Python has a rich array of helpful packages to use.

#### Many of the most popular packages are supported by industry partners, so they have a strong following and are very likely to continue to improve and grow.

These packages save you from having to reinvent the wheel each time, and allows you to lean on the experience of more experienced mathematicians, computer scientists, etc.

Some of the most popular scientific Python packages include
- numPy (basic numerical/matrix operations)
- Pandas (manipulating tables)
- SciPy (Scientific python-- numerical routines, machine learning, statistics)
- matplotlib (plotting)

Note that there are many more!  And like many things in programming/software, there are constant improvements and new projects to make many things easier/faster.

To use most of them, you simply install the package with `pip install <package>`.  Once installed, you simply import:

In [1]:
import numpy as np

#### Note that I used an alias for the `numpy` package above.  I could have just written "`import numpy`" and left off the "`as np`" part.  However, it saves typing to use the alias.  For example,

In [2]:
x = np.array([1,2,3])
x

array([1, 2, 3])

Otherwise, I would have to write `x = numpy.array([1,2,3])`.  Over time, that adds up.

### Python code is typically organized into packages (folders) and modules (python code files).

#### Practically, this means that related methods and functionality are kept in the same folder.

This is relevant because many scientific Python libraries are organized in this hierarchical manner and affects how the packages are loaded and used.  For example, the numPy library has a variety of methods for generating random numbers.  These reside in the `numpy.random` package.  If you dig through the numPy library, you will find a folder named "random" that contains a number of Python files, among others.  Deep down, a lot of numPy uses special code libraries written in high-performance languages like C++ and Fortran, so you may also see quite a few of those.     

#### Jupyter notebooks are especially helpful because they can assist in finding things inside these packages without having to search online.  

Given the size of these libraries, most of us only remember the most common names/methods and their usage; we certainly do not have everything memorized!  As an example, if you type `np.random.` (note the final dot) and hit your `<Tab>` key, a list of suggestions will appear.  Try it in the space below-- once you hit tab, a dropdown list should appear.

Once you have the method of choice, using `<Shift>+<Tab>` can provide a description of the method and some help on using it.  For example, once you type `np.random.normal(` (note the opening parenthesis), you can hit `<Shift>+<Tab>` to show the help.  For the `np.random.normal` method below, it will tell you that it samples from a normal (Gaussian) distribution and tells you that the `loc` and `scale` parameters/arguments set the mean ($\mu$) and standard deviation ($\sigma$) (*not* variance) of the distribution.

To get 10 random samples from a $\mathcal{N}(\mu=10, \sigma=4)$ distribution:

In [3]:
np.random.normal(loc=10, scale=4, size=10)

array([ 4.78650282, 10.67362293, 13.65521029,  9.99666593,  8.55533101,
       12.54949754, 13.90809602, 14.47902059, 16.33316439,  8.64775273])

### Suffice to say, there is a lot in these packages, and we cannot cover it in a short workshop.  

**However**, we will focus the hands-on portions on (hopefully) useful libraries and techniques that can aid in getting everyone started.

### While numPy is very "low-level" and deals with a lot of numerical matrix manipulation, the Pandas package is more generally useful for researchers in life-sciences.

Unless you are intimately familiar with matrix computations like QR-decomposition, SVD, etc. you will not likely use numPy directly.  Most users may only use the `numpy.random` package like shown above.  In our experience, it is more useful to explore the Pandas package.  

I tend to treat Pandas as a non-visual Excel spreadsheet, as it operates on the same table-based data.  In fact, Pandas has special functions for importing/reading Excel files.

Pandas tables are often called "data frames", following the name adopted in the R community.

Let's import the package:

In [4]:
import pandas as pd

### Let's read a gene expression matrix.

This particular example is a cell-line experiment in a simple 3 vs. 3 setup comparing treated and control conditions.  Within each condition, the samples are *biological* replicates.

We can import in a variety of ways, but Pandas provides a convenient `read_csv` function which allows us to read comma-separated (CSV) or tab-separated (TSV) files.  You just have to tell it which:

In [5]:
expression_df1 = pd.read_csv('gene_expression.tsv', sep='\t')
expression_df1.head()

,gene,SW1_Control,SW2_Control,SW3_Control,SW4_Treated,SW5_Treated,SW6_Treated
0,DDX11L1,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
1,WASH7P,45.77888,22.840605,42.016487,50.16839,29.507082,23.742158
2,MIR1302-10,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
3,FAM138A,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
4,OR4G4P,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000

Note that Pandas automatically reads the column names from the file, and "indexes" each row by consecutive integers 0,1,...  (see the bold numbers on the left-hand side)

Note that we told `read_csv` that the file had the columns separated by `<Tab>` characters by including the `sep="\t"` argument.  The string `"\t"` means a tab-character.  This is consistent across computing languages and platforms.

Depending on your preferences, you might instead choose to name/index each row by the gene instead of an integer.  In that case, you tell Pandas that you want the first (0- Python starts at zero!) column to be used as the index:

In [6]:
expression_df2 = pd.read_csv('gene_expression.tsv', sep='\t', index_col=0)
expression_df2.head()

,SW1_Control,SW2_Control,SW3_Control,SW4_Treated,SW5_Treated,SW6_Treated
gene,,,,,,
DDX11L1,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
WASH7P,45.77888,22.840605,42.016487,50.16839,29.507082,23.742158
MIR1302-10,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
FAM138A,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000
OR4G4P,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000

#### By naming the rows by their gene, it helps when selecting and filtering data, as you will see below.

#### Note that if your input file did **not** have column headers, you have to tell Pandas-- otherwise it might do something you do not expect:

In [7]:
df = pd.read_csv('table_with_no_header.tsv', sep='\t', index_col=0)
df

                     0        0.1        0.2       0.3        0.4        0.5
DDX11L1
WASH7P        45.77888  22.840605  42.016487  50.16839  29.507082  23.742158
MIR1302-10     0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
FAM138A        0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
OR4G4P         0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
OR4G11P        0.00000   0.000000   0.000000   0.00000   2.855524   0.000000
OR4F5          0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
RP11-34P13.7   0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
RP11-34P13.8   0.00000   0.000000   0.000000   0.00000   0.000000   0.000000

Above, it took the first row (which was expressions for gene DDX11L1) and somehow "coerced" it into unique column names.  NOT what we wanted!

Try again, this time telling Pandas there is no header by using the `header=None` argument:

In [8]:
df = pd.read_csv('table_with_no_header.tsv', sep='\t', index_col=0, header=None)
df

                     1          2          3         4          5          6
0
DDX11L1        0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
WASH7P        45.77888  22.840605  42.016487  50.16839  29.507082  23.742158
MIR1302-10     0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
FAM138A        0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
OR4G4P         0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
OR4G11P        0.00000   0.000000   0.000000   0.00000   2.855524   0.000000
OR4F5          0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
RP11-34P13.7   0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
RP11-34P13.8   0.00000   0.000000   0.000000   0.00000   0.000000   0.000000

OK, that's better, but the column names are not particularly meaningful.  Let's assume we knew the first three were control and the last three were treated.  We can tell Pandas these names:

In [9]:
column_names = ['C1', 'C2', 'C3', 'T1', 'T2', 'T3']
df = pd.read_csv('table_with_no_header.tsv', sep='\t', index_col=0, names=column_names)
df

                    C1         C2         C3        T1         T2         T3
DDX11L1        0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
WASH7P        45.77888  22.840605  42.016487  50.16839  29.507082  23.742158
MIR1302-10     0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
FAM138A        0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
OR4G4P         0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
OR4G11P        0.00000   0.000000   0.000000   0.00000   2.855524   0.000000
OR4F5          0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
RP11-34P13.7   0.00000   0.000000   0.000000   0.00000   0.000000   0.000000
RP11-34P13.8   0.00000   0.000000   0.000000   0.00000   0.000000   0.000000

Finally, assume you forgot the `sep='\t'` argument.  What happens?

In [10]:
df = pd.read_csv('table_with_no_header.tsv', index_col=0, names=column_names)
df

                                                    C2  C3  T1  T2  T3
C1
DDX11L1\t0\t0\t0\t0\t0\t0                          NaN NaN NaN NaN NaN
WASH7P\t45.7788798161081\t22.840605069235\t42.0... NaN NaN NaN NaN NaN
MIR1302-10\t0\t0\t0\t0\t0\t0                       NaN NaN NaN NaN NaN
FAM138A\t0\t0\t0\t0\t0\t0                          NaN NaN NaN NaN NaN
OR4G4P\t0\t0\t0\t0\t0\t0                           NaN NaN NaN NaN NaN
OR4G11P\t0\t0\t0\t0\t2.85552403559915\t0           NaN NaN NaN NaN NaN
OR4F5\t0\t0\t0\t0\t0\t0                            NaN NaN NaN NaN NaN
RP11-34P13.7\t0\t0\t0\t0\t0\t0                     NaN NaN NaN NaN NaN
RP11-34P13.8\t0\t0\t0\t0\t0\t0                     NaN NaN NaN NaN NaN

Whoa!  By default, `read_csv` is expecting comma-separated values (hence the name).  It did not find any commas, so it simply read the ENTIRE line as a single item.  Since we gave it 6 column names, it filled in six columns of "junk".  `NaN` means "Not a Number" and is essentially a placeholder for data that is missing.

The point of the above "mistakes" is to show that there any many different ways to adjust how the `read_csv` function behaves.  Depending on the files you are given or use, you may have to employ various combinations of the arguments shown above to get your tables just right.  If you forget, you can either search online, or use the `<Shift>+<Tab>` shortcut described above.

### We will now also load a table of differential expression results.

This table was prepared by DESeq2 software (a differential expression analysis package in the R language).

This time, we know the columns have names and are separated by commas, so we do *not* need to use the `names` or `sep="\t"` arguments.  We note that the first column, "gene", is a good candidate for the "index" of the rows.

In [11]:
dge_results = pd.read_csv('differential_results.csv', index_col='gene')
dge_results.head()

,baseMean,C,T,foldChange,log2FoldChange,pval,padj
gene,,,,,,,
DDX11L1,0.0000,0.000000,0.000000,NaN,NaN,NaN,NaN
WASH7P,35.6756,36.878657,34.472543,0.934756,-0.097338,0.876438,1.0
MIR1302-10,0.0000,0.000000,0.000000,NaN,NaN,NaN,NaN
FAM138A,0.0000,0.000000,0.000000,NaN,NaN,NaN,NaN
OR4G4P,0.0000,0.000000,0.000000,NaN,NaN,NaN,NaN

### We can perform many "standard" operations on these tables, such as sorting.  Below, we sort by the raw p-value:

In [12]:
dge_results_sorted = dge_results.sort_values('pval')
dge_results_sorted.head()

,baseMean,C,T,foldChange,log2FoldChange,pval,padj
gene,,,,,,,
CDKN1A,16888.298028,8199.879130,25576.716926,3.119158,1.641157,1.505242e-180,4.876682e-176
RP11-572C15.6,5798.732589,2607.993295,8989.471882,3.446892,1.785296,6.031485e-175,9.770402e-171
IGFBP3,13594.636434,7170.832682,20018.440186,2.791648,1.481117,1.231601e-145,1.330047e-141
GPRC5A,30020.288348,16267.924899,43772.651797,2.690734,1.428000,2.028961e-141,1.380890e-137
CACNA2D1,19970.721096,10848.555878,29092.886314,2.681729,1.423163,2.131135e-141,1.380890e-137

### We will now briefly discuss how to filter the rows of these data frames.  

#### We need to first discuss how to "select" rows and columns.  We do this by addressing the row and column we want.  Since we named the rows by the name, this is very easy.  For example, to get the adjusted p-value of PPARG we write:

In [13]:
# note that we select by [row, column]
dge_results.loc['PPARG', 'padj']

0.0143551492563152

#### The use of `loc` can be read as "give me the data in the following "location".  We tell pandas we want the data at the location of the "PPARG" row and "padj" column.

#### Note that if we did not name the rows by the gene names, this would be a lot more difficult.  We would have to know the row number, which is completely dependent on the order of the rows.  What if someone sorted by p-value?  Or by gene name?  By labeling the rows with the gene name, you are making your code "flexible".

#### Above we selected both the row and the column.  If we leave out 'padj', we get all the information about the PPARG row:

In [14]:
dge_results.loc['PPARG']

baseMean          863.294053
C                 956.831931
T                 769.756174
foldChange          0.804484
log2FoldChange     -0.313864
pval                0.001249
padj                0.014355
Name: PPARG, dtype: float64

### We can also select all the values in a specific column.  Note, however, that now we do NOT use the `loc` for columns.  If we give pandas only one "location", it defaults to search through the rows, as shown above for "PPARG".  If we leave it out, as shown below, it looks through the columns.

Note that this is a lot of data (>50,000 rows), and the notebook will automatically show only the first and last portions.  Otherwise your screen would quickly fill up.

In [15]:
dge_results['padj']

gene
DDX11L1                   NaN
WASH7P           1.000000e+00
MIR1302-10                NaN
FAM138A                   NaN
OR4G4P                    NaN
OR4G11P          1.000000e+00
OR4F5                     NaN
RP11-34P13.7              NaN
RP11-34P13.8              NaN
CICP27                    NaN
AL627309.1       1.000000e+00
RP11-34P13.15             NaN
RP11-34P13.16             NaN
RP11-34P13.14    1.000000e+00
RP11-34P13.13    1.000000e+00
RNU6-1100P                NaN
RP11-34P13.9              NaN
AP006222.2       1.000000e+00
AP006222.1                NaN
RP4-669L17.10    1.000000e+00
RP4-669L17.8              NaN
CICP7                     NaN
RP4-669L17.4              NaN
OR4F29                    NaN
WBP1LP7                   NaN
AL732372.1                NaN
RP4-669L17.2              NaN
RP5-857K21.15             NaN
RP4-669L17.1              NaN
RP5-857K21.1     1.000000e+00
                     ...
MT-TQ                     NaN
MT-TM            1.000000e+00
MT-ND2           9.325576e-01
MT-TW            1.000000e+00
MT-TA                     NaN
MT-TN                     NaN
MT-TC            2.819543e-15
MT-TY            6.690900e-07
MT-CO1           8.968042e-12
MT-TS1                    NaN
MT-TD                     NaN
MT-CO2           1.296667e-08
MT-TK                     NaN
MT-ATP8          1.000000e+00
MT-ATP6          2.622271e-01
MT-CO3           6.937202e-06
MT-TG                     NaN
MT-ND3           1.521772e-01
MT-TR                     NaN
MT-ND4L          3.069162e-01
MT-ND4           6.343151e-06
MT-TH            1.000000e+00
MT-TS2           1.000000e+00
MT-TL2                    NaN
MT-ND5           3.160187e-03
MT-ND6           4.089413e-08
MT-TE            8.323890e-01
MT-CYB           7.737368e-05
MT-TT                     NaN
MT-TP            2.289117e-04
Name: padj, Length: 56638, dtype: float64

### If we select something that does not exist, Pandas gives us an error:

In [16]:
dge_results.loc['JUNK']

KeyError: 'the label [JUNK] is not in the [index]'

### While the error message can be a bit dense, it will typically tell you the reason for the error.  In this case, you are told that "JUNK" is not in the index (AKA the list of genes).  

### In addition to selecting rows, columns, or "cells", you can use logic operations to create "filters" for rows and columns.

Let's say we want to find genes which are significantly upregulated with a log-fold change of > 3 and an adjusted p-values (FDR) < 0.01.

To do that, we can run "tests" to keep or discard rows and/or columns of our table.  For our application, we want to keep only those rows that have have BOTH a log-fold change >3 AND FDR < 0.01.  We can separately test whether the log2 fold-change is greater than 3 and the FDR is less than 0.01.

In the figure below, we have our differential expression table on the left.  In the table on the right-side, we show the results of our "tests".  We align the two tables to show the correspondance of the rows in each table.  In the first column, we see that only two genes (g2 and g3) have log-fold change > 3.  In the second column, we see that g1, g3, and g4 have padj < 0.01.  Together, the only row that passes both "tests" is for g3 (green highlight)

![](filtering.png)

To create the table on the right, we note that the syntax is very simple and intuitive.  Pandas is smart enough to "expand" the operation and apply it to the entire column.  For instance,

```
dge_results['log2FoldChange']
```
selects the `log2FoldChange` column.  We then want to check *each row* to see whether the value is > 3.  If you execute 

```
dge_results['log2FoldChange'] > 3
```

You will see that it is a long array of True or False.  Pandas automatically applied the test to the entire column.

#### We can thus create the right-hand table with the following:

In [17]:
upregulated = dge_results['log2FoldChange'] > 3
significant = dge_results['padj'] < 0.01

#### Since we want rows/genes that pass BOTH conditions, we are looking for situations where we have True and True, as shown above in the green row.

Python comes with logical AND (`&`), and Pandas is smart enough to infer that we want to run this comparison on each row separately:

In [18]:
# By combining with "&", we require that we satisfy BOTH conditions
row_filter = upregulated & significant

#### Finally, we use `row_filter` to filter the table.  Recall that if we are working with rows, we have to use the `loc` word.  

Earlier, we used the gene names to filter the rows, but we can also use True or False values.  It keeps the rows where it is True and removes those that are False.

In [19]:
significantly_upregulated = dge_results.loc[row_filter]
significantly_upregulated

,baseMean,C,T,foldChange,log2FoldChange,pval,padj
gene,,,,,,,
TNFSF18,23.555357,5.084786,42.025928,8.265034,3.047021,2.720555e-07,7.983744e-06
RP11-46A10.2,35.279041,7.690233,62.867849,8.175025,3.031223,3.421609e-08,1.196143e-06
RP13-131K19.6,9.705560,1.698615,17.712504,10.427613,3.382337,5.067686e-04,6.706818e-03
LIPH,106.078733,18.553392,193.604074,10.434969,3.383354,3.753955e-32,2.027011e-29
SPATA18,15.795512,2.369358,29.221667,12.333158,3.624470,1.965324e-06,4.860501e-05
ART3,4.886862,0.000000,9.773723,inf,inf,7.554618e-04,9.428140e-03
MYOZ2,10.087959,1.860177,18.315740,9.846233,3.299572,3.384259e-04,4.746459e-03
NSG2,6.477009,0.324673,12.629345,38.898671,5.281649,4.113713e-04,5.583414e-03
MUC19,10.371199,1.362882,19.379515,14.219508,3.829800,8.307923e-05,1.392447e-03
POSTN,19.779884,3.158869,36.400899,11.523396,3.526494,3.815001e-04,5.230571e-03

### Now, using those significantly upregulated genes, what are the observed expressions?  So far, we only have the DESEq2 results.

We can get the genes by selecting the index:

In [20]:
significantly_upregulated.index

Index(['TNFSF18', 'RP11-46A10.2', 'RP13-131K19.6', 'LIPH', 'SPATA18', 'ART3',
       'MYOZ2', 'NSG2', 'MUC19', 'POSTN'],
      dtype='object', name='gene')

### Now use that to filter the expression matrix.  Again, since we are filtering rows, we have to use `loc`.  As you see in the cell above, we have a list of gene names, so the filtering is very natural:

In [21]:
expression_subset = expression_df2.loc[significantly_upregulated.index]
expression_subset

,SW1_Control,SW2_Control,SW3_Control,SW4_Treated,SW5_Treated,SW6_Treated
gene,,,,,,
TNFSF18,7.792150,5.191047,2.271161,41.209749,30.458923,54.409111
RP11-46A10.2,3.896075,13.496721,5.677904,49.272526,54.254957,85.076065
RP13-131K19.6,2.922056,1.038209,1.135581,17.021418,12.373937,23.742158
LIPH,25.324487,15.573140,14.762549,168.422452,204.645889,207.743880
SPATA18,3.896075,2.076419,1.135581,40.313885,28.555240,18.795875
ART3,0.000000,0.000000,0.000000,7.166913,15.229462,6.924796
MYOZ2,0.000000,1.038209,4.542323,14.333826,23.796034,16.817362
NSG2,0.974019,0.000000,0.000000,8.958641,19.036827,9.892566
MUC19,0.974019,3.114628,0.000000,22.396603,21.892351,13.849592
POSTN,3.896075,1.038209,4.542323,31.355244,58.062322,19.785131

### As usual, we can filter both the rows AND the columns:

In [22]:
control_samples = [x for x in expression_df2.columns if x.endswith('_Control')]
expression_subset_control = expression_df2.loc[significantly_upregulated.index, control_samples]
expression_subset_control

               SW1_Control  SW2_Control  SW3_Control
gene
TNFSF18           7.792150     5.191047     2.271161
RP11-46A10.2      3.896075    13.496721     5.677904
RP13-131K19.6     2.922056     1.038209     1.135581
LIPH             25.324487    15.573140    14.762549
SPATA18           3.896075     2.076419     1.135581
ART3              0.000000     0.000000     0.000000
MYOZ2             0.000000     1.038209     4.542323
NSG2              0.974019     0.000000     0.000000
MUC19             0.974019     3.114628     0.000000
POSTN             3.896075     1.038209     4.542323

### Now that we know some basics in data loading/manipulation/filtering, we can begin to think about analyses and data visualizations, which we cover in the next notebook